body {
  /* background-color: #14213d !important ; */
  background-image: url("https://storage.needpix.com/rsynced_images/aerial-3246120_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover ;
  margin: 0px;
/* padding:70px ; */
padding-bottom : 50px  ;
border: 60px  solid ;
border-top: 0px ;
    }


table{
  margin: auto;
  width: 80% ;

}


th{
  height: 100%;
  width: 50% ;

}

#main{
  padding: 20px 10px ;
  background-color: rgba(0, 109, 119,0.5)  ;
    font-family: "Montserrat";
    color:white ;
}

#th1{
  background-color: rgba(107, 89, 62,0.7) ;
  text-align: center ;
    font-family: 'ZCOOL XiaoWei', serif;
  color: white  ;

}

h1,h3
{ text-align: center ;
  font-family: 'ZCOOL XiaoWei', serif;
color: black  ;
 background-color: rgba(242, 240, 237,0.5) ;
}

h3{
  color: #012d73 !important;
font-family: 'Special Elite', cursive;
}
