<!doctype html>
      <html>
        <head>
            <title> LOG IN/SIGN UP</title>
            <link rel=stylesheet href="css/style.css">
            <link href="https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
        </head>

        <body>
            <div class="top">
            <nav>
                <a href="#"> home</a>
                <a href="#"> first</a>
                <a href="#"> second</a>
                <a href="#"> third</a>
            </nav>
            </div> 
            
            <div>
                <h1 id="main-heading">
                    WELCOME to  <span id="txt-create">Let's Blog</span>
                </h1>
            </div>
            
            <div class="back">
                <h3>Create an account</h3>
            
                
                <input type=text name=username placeholder="User Name"/>
                <input type=text name=email placeholder="Email address"/>
                <input type=password name=password placeholder="Password"/>
                <input type=password name=rpassword placeholder="Retype Password"/>
                <input id="sign" type=button name="Sign Up" value="Sign Up"/>
                
                
            </div>
            <footer>
            <div>
              <a href="#"> contact us</a>
              <a href="#"> about us</a>
              <a href="#"> details</a>
              <a href="#"> fourth</a>
              </div>
            
            </footer>
            
        </body>
      </html>